body
{
    padding: 0;
    margin: 0;
    height: 100vh;
}

#game-scene-container
{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    font-family: 'arial';
    user-select: none;
}

#game-scene
{
    width: 500px;
    height: 500px;
    border: .4rem solid rgba(0, 255, 0, 255);
    box-shadow: 0 0 3px rgba(0, 255, 0, 255);
}

#menu
{
    position: absolute;
    border: .5rem solid rgba(0, 255, 0, 255);
    background-color: rgba(0, 0, 0, 1);
}

.menu-item
{
    text-align: center;
    color: rgba(0, 255, 0, 255);
}

#menu-title
{
    font-size: 6rem;
    font-weight: 200;
    margin: 1rem;
}

#menu-start
{
    font-weight: 100;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
}

#score
{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.score-item
{
    color: rgba(0, 255, 0, 255);
    margin: 0 0 .5rem 0;
}
