:root{
    --background: rgb(0, 0, 0);
    --main-color: rgb(0, 255, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 31.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3{
    margin: 0;
}

#game-scene-container{
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

canvas{
    width: 100%;
    min-height: 31.25rem;
    border: 1px solid var(--main-color);
}

#score-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#menu-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#menu-title{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

#menu-start{
    cursor: pointer;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

#menu-start:hover{
    color: rgba(251, 255, 0, 255);
}